# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. SQL
4. Scala

Some of the commonly used libraries used by Data Scientists include:
1. Pandas
2. NumPy
3. matplotlib
4. ggplot2

| Data Science Tools |
| ------------------ |
| Jupyter Notebook   |
| RStudio            |
| VS Code            |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [3]:
(3*4)+5

17

 This will convert 200 minutes to hours by diving by 60

In [4]:
200/60

3.3333333333333335

**Objectives:**
- List popular languages for Data Science.
- Identify commonly used libraries in Data Science.
- Understand the role of various open-source tools for Data Science.
- Demonstrate basic arithmetic expressions in Python.
- Convert time units from minutes to hours using Python.

## Author
Alona Kuznietsova